@media (width > 50em) {
  /* This css is only added to the page when the screen is 50rem or wider */
  nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
}

