nav ul {
  display: block;
  justify-content: center;
  font-size: 12px;

  list-style: none;
  background-color: #00263a;
  
  padding-left: 0;
  margin: 0;
}

nav a {
  display: block;
  width: fit-content;
  padding: 1rem;
  text-decoration: none;
  color: white;
  border-bottom: 3px solid transparent;
}


nav a:hover {
  background-color: #ffa400;
}

a:hover {
  background-color:#ffa400;
}

@media (width > 50em) {
  /* This css is only added to the page when the screen is 50rem or wider */
  nav ul {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 0;
    text-align: center;
  }
}

