h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;

  height: auto;
  width: auto;
  margin: auto;
  padding-left: 10px;
  max-width: 650px;

  border: solid;
  border-width: 1mm;
  background-color: #fda6bd;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  text-align: center;
}

main {
  font-family: fantasy;
  margin: auto;
  width: 500px;
  text-align: center;
  max-width: 85px;
}

body {
  background-color: #86cdfa;
  max-width: 650px;
}

