h1, h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;

  height: auto;
  width: 600px;
  margin: auto;
  padding-top: 10px;
}

main {
  margin: 100%;
  width: 500px;
  text-align: left;
}