h1 {
  /* Main Heading */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  max-width: 650px;
  border-radius: 2rem;

  border: solid;
  border-width: 1mm;
  background-color: #fda6bd;
}

h2 {
  /* Sub Heading */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  
  margin: auto;
  max-width: 30ch;
  padding: 2rem;
}

.box {
  background:
    linear-gradient(
        105deg,
        rgba(255, 255, 255, 0.2) 39%,
        rgba(51, 56, 57, 1) 96%
      ) center center / 800px 600px no-repeat,
    url(big-star.png) center no-repeat,
    rebeccapurple;
  
  border-radius: 2rem;
  border: solid;
  border-width: 1mm;
}

p {
  /* Paragraph */
  line-height: 150%;
}