h1 {
  /* Main Heading */
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;

  height: auto;
  width: auto;
  margin: auto;
  padding: 10px;
  max-width: 650px;
  border-radius: 5rem;

  border: solid;
  border-width: 1mm;
  background-color: #fda6bd;
}

h2 {
  /* Sub Heading */
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  
  margin: auto;
  max-width: 30ch;
  padding: 2rem;
}

p {
  /* Paragraph */
  line-height: 150%;
}